<form class="{{cssClass}}" autocomplete="off">
  <div class="sheet-wrapper">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
      <div class="sheet-header__fields">
        <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
        <input class="input--title" name="system.attrTop.realName.value" type="text"
          value="{{system.attrTop.realName.value}}" placeholder="{{system.attrTop.realName.label}}" />
        <input class="input--title" name="system.attrLeft.generation.value" type="text"
          value="{{system.attrLeft.generation.value}}" placeholder="{{system.attrLeft.generation.label}}" />
      </div>
    </header>

    {{!-- Main --}}
    <section class="sheet-top">
      <section class="sheet-attributes">
        <div class="cell cell--image">
          <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100"
            width="100" />
        </div>
        <div class="cell cell-npc-text">
          <label for="system.attrLeft.abilities.value" class="cell__title">{{localize
            "MASKS-SHEETS.NPC.Abilities"}}</label>
          {{editor system.attrLeft.abilities.value target="system.attrLeft.abilities.value" button=true owner=owner editable=editable}}
        </div>
        <div class="cell cell-npc-text">
          <label for="system.attrLeft.drive.value" class="cell__title">{{localize
            "MASKS-SHEETS.NPC.Drive"}}</label>
          {{editor system.attrLeft.drive.value target="system.attrLeft.drive.value" button=true owner=owner editable=editable}}
        </div>
      </section>
    </section>

    <section class="sheet-bottom">
      <section class="sheet-look">
        {{#if system.attrLeft}}
        <div class="cell cell--aesthetics">
          <div class="cell cell--attributes-left">
            <div class="cell cell--conditions cell--ListMany">
              <label for="system.attrLeft.conditions.value" class="cell__title">{{localize
                "MASKS-SHEETS.CONDITIONS.Label"}}</label>
              <ul class="cell__checkboxes flexcol">
                {{#each system.attrLeft.conditions.options as |option optionKey|}}
                <label>
                  <input type="checkbox" class="attr-list" name="system.attrLeft.conditions.options.{{optionKey}}.value"
                    {{checked option.value}} />
                  {{{option.translation}}}
                </label>
                {{/each}}
                {{#each customConditions as |condition key|}}
                <label>
                  <input type="checkbox" class="attr-list" name="{{condition.attrValue}}" {{checked condition.value}} />
                  {{{condition.label}}}
                </label>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
        {{/if}}
      </section>

      {{!-- Sheet Body --}}
      <section class="sheet-main">

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
          <a class="item" data-tab="description">{{localize "PBTA.Description"}}</a>
          <a class="item" data-tab="moves">{{localize "PBTA.Moves"}}</a>
          <a class="item" data-tab="equipment">{{localize "MASKS-SHEETS.Resources"}}</a>
          <a class="item" data-tab="influences">{{localize "MASKS-SHEETS.Influences"}}</a>
        </nav>
        <section class="sheet-body">
          {{!-- Description Tab --}}
          <div class="tab description" data-group="primary" data-tab="description">
            <div class="sheet-tab">
              <div class="cell cell--bio">
                <label class="cell__title">{{localize "MASKS-SHEETS.Look"}}</label>
                {{editor system.details.look.value target="system.details.look.value" button=true owner=owner editable=editable}}
              </div>
              <div class="cell cell--bio">
                <label class="cell__title">{{localize "PBTA.Biography"}}</label>
                {{editor system.details.biography target="system.details.biography" button=true owner=owner editable=editable}}
              </div>
            </div>
          </div>

          {{!-- Moves Tab --}}
          <div class="tab moves active" data-group="primary" data-tab="moves">
            <div class="sheet-tab">
              <div class="sheet-moves moves">
                {{#each moves as |moveGroup moveKey|}}
                <div class="cell cell--moves cell--group cell--{{moveKey}}">
                  <h2 class="cell__title">
                    <label class="item-group-label">{{#if (eq moveKey "PBTA_OTHER")}}{{localize
                      moveKey}}{{else}}{{getLabel ../moveTypes moveKey}}{{/if}}<span class="item-details-toggle"><i
                          class="fas fa-chevron-up"></i></span></label>
                    <div class="item-controls">
                      <button class="item-control item-create" title='{{localize "PBTA.MoveCreate"}}'
                        data-type="npcMove" data-moveType="{{moveKey}}">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                    {{#each moveGroup as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                      <h4 class="item-name">
                        <div class="item-avatar">
                          <span class="rollable move-rollable" data-roll="{{item.system.rollFormula}}">
                            {{#if item.system.rollFormula}}
                            <i class="fas fa-dice-d6"></i> <i class="fas fa-dice-d6"></i>
                            {{else}}
                            <i class="fas fa-book"></i>
                            {{/if}}
                          </span>
                          <img class="item-icon" src="{{item.img}}" title="{{item.name}}" width="27" height="27" />
                        </div>
                        <span class="item-label">{{item.name}}<span class="item-details-toggle"><i
                              class="fas fa-chevron-down"></i></span></span>
                      </h4>
                      <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                      </div>
                      <div class="item-description">{{{item.system.description}}}</div>
                    </li>
                    {{/each}}
                  </ol>
                </div>
                {{/each}}
              </div>
            </div>
          </div>

          {{!-- Owned Equipment Tab --}}
          <div class="tab equipment" data-group="primary" data-tab="equipment">
            {{!-- <div class="cell cell--equipment cell--group"> --}}
              <section class="sheet-notifications" style="margin-top:10px;">
                {{#if system.isToken}}
                <div class="cell__title warning small-text">Equipment cannot be rearranged while this token is not
                  linked
                  to an actor.</div>
                {{/if}}
              </section>

              <div class="cell cell--custom cell--group">
                <h2 class="cell__title">
                  <label class="item-group-label">{{localize "MASKS-SHEETS.Custom"}}<span class="item-details-toggle"><i
                        class="fas fa-chevron-up"></i></span></label>
                  <div class="item-controls">
                    <button type="button" class="item-control custom-control" data-action="create"
                      title='{{localize "MASKS-SHEETS.Create-Custom-Resource"}}' data-type="customResource">
                      <i class="fas fa-plus"></i>
                    </button>
                </h2>
                <div class="items-list masks-custom-list">
                  {{> "modules/masks-newgeneration-sheets/templates/partials/custom-resource-partial.hbs"
                  items=customResources owner=owner editable=editable}}
                </div>
              </div>
              {{#each equipment as |equipmentGroup equipmentKey|}}
              <div class="cell cell--equipment cell--group cell--{{equipmentKey}}">
                <h2 class="cell__title">
                  <label class="item-group-label">{{#if (eq equipmentKey "PBTA_OTHER")}}{{localize
                    equipmentKey}}{{else}}{{getLabel ../equipmentTypes equipmentKey}}{{/if}}<span
                      class="item-details-toggle"><i class="fas fa-chevron-up"></i></span></label>
                  <div class="item-controls">
                    <button type="button" class="item-control item-create" title='{{localize "PBTA.EquipmentCreate"}}'
                      data-type="equipment" data-equipmentType="{{equipmentKey}}">
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                </h2>
                <ol class="items-list">
                  {{#each equipmentGroup as |item id|}}
                  <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                    <h4 class="item-name">
                      <div class="item-avatar">
                        <span class="rollable item-rollable" data-roll=""><i class="fas fa-book"></i></span>
                        <img class="item-icon" src="{{item.img}}" title="{{item.name}}" width="27" height="27" />
                      </div>
                      <span class="item-label">{{item.name}}<span class="item-details-toggle"><i
                            class="fas fa-chevron-down"></i></span></span>
                    </h4>

                    <div class="item-meta tags">
                      {{#if item.system.uses }}<span class="tag">{{localize "PBTA.Uses"}}:
                        {{item.system.uses}}</span>{{/if}}
                      {{#if item.system.quantity }}<span class="tag">{{localize "PBTA.Qty"}}:
                        {{item.system.quantity}}</span>{{/if}}
                      {{#if item.system.weight }}<span class="tag">{{localize "PBTA.Wt"}}:
                        {{item.system.weight}}</span>{{/if}}
                    </div>
                    <div class="item-controls">
                      <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                      <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="item-description">
                      {{#if item.system.tags}}{{{pbtaTags item.system.tags}}}{{/if}}
                      <div class="description">{{{item.system.description}}}</div>
                    </div>
                  </li>
                  {{/each}}
                </ol>
              </div>
              {{/each}}
              {{!--
            </div> --}}
          </div>

          {{!-- Influences Tab --}}
          <div class="tab influences" data-group="primary" data-tab="influences">
            <div class="cell cell--group cell--influences">
              <h2 class="cell__title">
                <label class="item-group-label">{{localize "MASKS-SHEETS.Influences"}}<span
                    class="item-details-toggle"><i class="fas fa-chevron-up"></i></span></label>
                <div class="item-controls">
                  <button type="button" class="influence-control influence-create"
                    title='{{localize "MASKS-SHEETS.InfluenceCreate"}}' data-type="influence">
                    <i class="fas fa-plus"></i>
                  </button>
                </div>
              </h2>
              <ol class="items-list">
                {{#each influences}}
                <li class="item flexrow" data-influence-id="{{id}}">
                  <div class="influence-name">
                    <img class="influence-icon" data-influence-action="roll"
                      src="modules/masks-newgeneration-sheets/assets/shadow-follower.svg" />
                    <input type="text" class="influence--name" value="{{name}}" placeholder="{{localize "MASKS-SHEETS.Person-Name"}}" />
                  </div>
                  <div class="influence-management">
                    <img class="influence-icon {{#unless hasInfluenceOver}}influence-disabled{{/unless}}"
                      data-influence-action="hasInfluenceOver"
                      src="modules/masks-newgeneration-sheets/assets/team-downgrade.svg"
                      title="{{localize " MASKS-SHEETS.HasInfluence"}}" />
                    <img class="influence-icon {{#unless haveInfluenceOver}}influence-disabled{{/unless}}"
                      data-influence-action="haveInfluenceOver"
                      src="modules/masks-newgeneration-sheets/assets/team-upgrade.svg"
                      title="{{localize " MASKS-SHEETS.HaveInfluence"}}" />
                    {{#if locked}}
                    <a class="influence-control influence-lock" data-influence-action="lock" title="{{localize "
                      MASKS-SHEETS.Influence-Unlock"}}"><i class="fas fa-lock"></i></a>
                    {{else}}
                    <a class="influence-control influence-unlock" data-influence-action="lock" title="{{localize "
                      MASKS-SHEETS.Influence-Lock"}}"><i class="fas fa-lock-open"></i></a>
                    {{/if}}
                    <a class="influence-control influence-delete" data-influence-action="delete" title="{{localize "
                      MASKS-SHEETS.Delete-Influence"}}"><i class="fas fa-trash"></i></a>
                  </div>
                </li>
                {{/each}}
              </ol>
            </div>
        </section>
      </section>
    </section>

  </div>

</form>